In [1]:
def addto(a, b) :
    return a + b

In [2]:
addto(4, 6)

10

In [3]:
def MUL(a, b) :
    m = a*b
    return m

In [4]:
MUL(3, 6)

18

In [5]:
m # 함수 안에서만 사용할 수 있는 변수

NameError: name 'm' is not defined

In [6]:
def add(a, b) : # a, b는 매개변수
    c = a + b
    return c

print(add(3, 4)) # 3, 4는 인수(파라미터)

7

In [7]:
def add2(a, b) : # a, b는 매개변수
    c = a + b

In [8]:
add2(3, 4) # return이 없어 반환되는 값이 없음

In [9]:
c # 함수 밖에서 사용 불가능

NameError: name 'c' is not defined

In [14]:
def add2(a, b) : # a, b는 매개변수
    c = a + b
    return c

In [15]:
add2(3, 1)

4

In [16]:
# 입력값이 없는 함수
def say() :
    return "Ho!"

In [17]:
say()

'Ho!'

In [18]:
def add(a, b) :
    print(a, b, "의 합은 ", a + b, "입니다.")
    c = a + b
    return c

In [19]:
test = add(3, 4)
test

3 4 의 합은  7 입니다.

7

In [20]:
a = say()

In [21]:
a

'Ho!'

In [22]:
# 매개변수를 지정하여 호출
def add(a, b) :
    return a + b

In [23]:
add(b = 3, a = 1)

4

In [24]:
def ma(a, b) :
    return a - b

In [25]:
ma(a = 5, b = 7)

-2

In [26]:
ma(b = 7, a = 5)

-2

In [27]:
ma(5, 7)

-2

In [28]:
ma(7, 5)

2

In [30]:
ma(1, 2, 3)

TypeError: ma() takes 2 positional arguments but 3 were given

In [31]:
add(1, 2, 3)

TypeError: add() takes 2 positional arguments but 3 were given

In [34]:
def add_many(*args) :
    print(args)
    result = 0
    for i in args :
        result = result + i
    return result

In [35]:
add_many(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

21

In [36]:
def add_mul(choice, *args) : # choice와 *args(항상 맨 뒤)의 위치가 바뀌면 오류 발생
    if choice == "add" :
        result = 0
        for i in args :
            result = result + i
    elif choice == "mul" :
        result = 1
        for i in args :
            result = result * i
    return result

In [37]:
add_mul('add', 1,2,3,3,4,4,5,6,67,7,8,8)

118

In [38]:
add_mul('mul', 1,2,3,3,4,4,5,6,67,7,8,8,)

259338240

In [39]:
# 함수에서 return 되는 값은 항상 하나

def add_and_mul(a, b) :
    return a + b, a * b

In [40]:
add_and_mul(2, 6) #하나의 튜플로 반환

(8, 12)

In [41]:
result = add_and_mul(3, 4)
result

(7, 12)

In [42]:
result1, result2 = add_and_mul(3,4)

In [43]:
print(result1)
print(result2)

7
12

In [44]:
result1 = result[0]
result2 = result[1]
print(result1)
print(result2)

7
12

In [45]:
def add_and_mul(a, b) :
    return a + b
    return a * b

In [46]:
add_and_mul(5, 2)

# add_and_mul(5,2)의 결괏값은 7 하나뿐이다
# 두번째 return문인 return a * b는 실행되지 않았다.

7

In [50]:
def say_nick(nick) :
    if nick == '바보' :
        return
    print('나의 별명은 '+nick+'입니다.')

In [51]:
say_nick('바보')

In [52]:
say_nick('겸댕이')

나의 별명은 겸댕이입니다.

In [53]:
def say_myself(name, old, man=True) :
    print("나의 이름은 ", name, "입니다.")
    print("나이는 ", old, "살입니다.")
    if man :
        print("남자입니다.")
    else :
        print("여자입니다.")

In [54]:
say_myself('파이썬', 30)

나의 이름은  파이썬 입니다.
나이는  30 살입니다.
남자입니다.

In [55]:
say_myself('박응선', 27, False)

나의 이름은  박응선 입니다.
나이는  27 살입니다.
여자입니다.

In [56]:
say_myself(old = 30, name = '파이썬', man = True)

나의 이름은  파이썬 입니다.
나이는  30 살입니다.
남자입니다.

In [ ]:
def say_myself(name, man=True, old) :
    print("나의 이름은 ", name, "입니다.")
    print("나이는 ", old, "살입니다.")
    if man :
        print("남자입니다.")
    else :
        print("여자입니다.")
# 위 오류 메시지는 초깃값을 설정해 놓은 매개변수 뒤에 초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다는 뜻
# 이전 함수와 바뀐 부분은 초깃값을 설정한 매개변수의 위치이다
# 결론을 미리 말하면 이것은 함수를 실행할 때 오류가 발생

In [57]:
a = 1
def vartest(a) :
    a = a + 1
    return a

In [58]:
vartest(a)

2

In [59]:
a

1

In [60]:
# global 명령어 사용하기

a = 1
print(a)

1

In [61]:
def vartest() :
    global a
    a = a + 1

In [62]:
vartest()

In [63]:
print(a)

2

In [65]:
a = [1,3,4,5,67,8]

def add(lst) :
    total = 0
    for i in lst :
        total = total + i
    return total

add(a)

88

In [66]:
# lambda 매개변수1, 매개변수2 ... : 매개변수를 이용한 표현식

add = lambda x,y : x + y

In [67]:
add(2,4) # lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.

6