설명을 달 수 있는 창(Markdown), 텍스트 편집기

In [1]:
# 메시지를 입력하면
# 명령코드가 아닌 설명문 주석

In [2]:
# 숫자형: 정수로 표현이 된다.
# 산술연산이 가능하다. +,-,*,/,//,**

a = 567

In [3]:
a # a는 567을 가르키는 변수

567

In [4]:
'a'

'a'

In [6]:
"a"

'a'

In [7]:
a + 45 # 변수 a는 일반 정수와 연산이 가능하다.(a는 정수 567이기 때문)

612

In [8]:
a = -123

In [9]:
a

-123

In [10]:
a - a

0

In [11]:
a = 123
b = 567

In [12]:
a + b

690

In [13]:
a - b

-444

In [14]:
# 정수형에는 음수, 양수가 들어갈 수 있다.

In [15]:
#실수형: 소수자리가 수
a = 1.5

In [16]:
a

1.5

In [17]:
b = 4.5

In [18]:
a + b

6.0

In [19]:
a * b

6.75

In [20]:
int(a + b)

6

In [21]:
# 42400000000.0
a = 4.24E10 # 알파벳 'E'는 'e'로도 사용 가능

In [22]:
a

42400000000.0

In [25]:
b = 4.24E-3
b

0.00424

In [26]:
# 8진수
a = 0o177 # 숫자 0과 o를 같이 써줌
a

127

In [27]:
# 16진수
a = 0x8ff # 숫자 0과 x를 같이 써줌
a

2303

In [29]:
# 2진수
a = 0b01010 # 숫자 0과 알파벳 b를 같이 써줌
a

10

In [30]:
# 사칙연산
a = 3
b = 6

In [31]:
a + b

9

In [32]:
a - b

-3

In [33]:
a * b

18

In [34]:
a / b

0.5

In [35]:
a + 3 # 변수에 할당된 값이 숫자형이라면 숫자형과 연산 가능

6

In [36]:
# 제곱을 나타내는 ** 연산자

a ** b

729

In [37]:
# 나눗셈 후 나머지를 반환하는 % 연산자

7 % 3

1

In [38]:
3 % 7

3

In [39]:
# 나눗셈 후 몫을 반환하는 // 연산자

7 // 4

1

In [40]:
# 문자열 안에 작은따옴표나 포함시키고 싶을 때

food = "Pyhton's favorite food is perl" # 큰따옴표로 열고 닫기
food

"Pyhton's favorite food is perl"

In [42]:
say  = '"Pythons is very easy." he says.'
say

'"Pythons is very easy." he says.'

In [43]:
# 백슬래시(\)를 사용해서 작은따옴표(')와 큰따옴표(")를
# 문자열에 포함시키기

food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [75]:
say = '\"Python is very easy.\" he says'
say

'"Python is very easy." he says'

In [44]:
# 1. 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

multiline = "Life is too short\nYou need python"
multiline

'Life is too short\nYou need python'

In [45]:
print(multiline)

Life is too short
You need python

In [46]:
# 연속된 작은따옴표 3개 (''') 또는 큰따옴표 3개(""") 사용하기

multiline = """Life is too short
You need pythone"""
multiline

'Life is too short\nYou need pythone'

In [49]:
# 문자열 더해서 연결하기(Concatenation)

head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [50]:
# 문자열 곱하기

head * 3

'PythonPythonPython'

In [51]:
print("-" * 50)

--------------------------------------------------

In [52]:
# 문자열 곱하기 응용

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [53]:
# 프로그래밍 언어는 숫자를 0부터 센다
# 문자열 인덱싱, 슬라이싱

a = "Life is too short, You need python"
#    0123456789012345678901234567890123
#              1         2         3

In [54]:
a[8]

't'

In [55]:
a[24]

'e'

In [56]:
a[33]

'n'

In [57]:
a[-1]

'n'

In [58]:
a[-5]

'y'

In [59]:
# 슬라이싱

# a = "Life is too short, You need python"
#      0123456789012345678901234567890123
#                1         2         3
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [60]:
c = a[0 : 17]
c

'Life is too short'

In [62]:
c = a[ : 17]
c

'Life is too short'

In [64]:
c = a[19 : 34]
c

'You need python'

In [66]:
c = a
c

'Life is too short, You need python'

In [67]:
c = a[ : ]
c

'Life is too short, You need python'

In [68]:
# 문자열 슬라이싱의 예

a = '20010331Rainy'
# date라는 변수에 a에 있는 20010331만 슬라이싱해서 할당
# weather라는 변수에 a에 있는 Rainy만 슬라이싱해서 할당

In [69]:
date = a[ : 8]
weather = a[8 : ]

In [70]:
date

'20010331'

In [71]:
weather

'Rainy'

In [76]:
# 문자열 슬라이싱의 예

a = '20010331Rainy'


# 년, 월, 일, 날씨로 나눠보세요
year = a[0 : 4]
month = a[4 : 6]
day = a[6 : 8]
weather = a[8 : ]

print("year = ", year)
print("month = ", month)
print("day = ", day)
print("weather = ", weather)

year =  2001
month =  03
day =  31
weather =  Rainy

In [77]:
# 숫자 대입

"나는 사과를 %d개 먹었습니다"%3

'나는 사과를 3개 먹었습니다'

In [78]:
"나는 사과를 %d개 먹었습니다"%(3 + 2)

'나는 사과를 5개 먹었습니다'

In [79]:
eat = 5
"나는 사과를 %d개 먹었습니다"%eat

'나는 사과를 5개 먹었습니다'

In [82]:
"나는 사과를 %s개 먹었습니다"%'다섯'

'나는 사과를 다섯개 먹었습니다'

In [83]:
"나는 %s일 동안 사과를 %d개 먹었습니다"%("오", 5)

'나는 오일 동안 사과를 5개 먹었습니다'

In [84]:
day = "오"
eat = 10
"나는 %s일 동안 사과를 %d개 먹었습니다"%(day, eat)

'나는 오일 동안 사과를 10개 먹었습니다'

In [85]:
"I have %s apples"%3

'I have 3 apples'

In [86]:
"rate is %s" % 3.234

'rate is 3.234'

In [87]:
# 정렬과 공백

"%10s" % "hi"

'        hi'

In [88]:
"%-10s" % "hi"

'hi        '

In [89]:
"%-10sjane" % "hi"

'hi        jane'

In [90]:
# 소수점 자리수 지정

"%0.4f" % 3.141592

'3.1416'

In [91]:
"%10.4f" % 3.141592

'    3.1416'

In [92]:
# 숫자 바로 대입하기

"I eat {0} apples.".format(3)

'I eat 3 apples.'

In [93]:
# 문자열 바로 대입하기

"I eat {0} apples.".format("five")

'I eat five apples.'

In [94]:
# 숫자 값을 가진 변수로 대입하기

number = 3
"I eat {0} apples.".format(number)

'I eat 3 apples.'

In [95]:
# 2개 이상의 값 넣기

number = 10
day = "three"
"I eat {0} apples, so I was sick for {1} days.".format(number, day)
# 2개 이상의 값을 넣을 경우

'I eat 10 apples, so I was sick for three days.'

In [96]:
number = 10
day = "three"
"I ate {1} apples, so I was sick for {0} days.".format(day, number)

'I ate 10 apples, so I was sick for three days.'

In [97]:
# 이름으로 넣기

"I ate {number} apples, so I was sick for {day} days.".format(number = 3, day = 10)

'I ate 3 apples, so I was sick for 10 days.'

In [99]:
# 왼쪽 정렬

"{0:<10}".format("hi")

'hi        '

In [109]:
# 오른쪽 정렬

"{0:>10}".format("hi")

'        hi'

In [110]:
# 가운데 정렬

"{0:^10}".format("hi")

'    hi    '

In [111]:
# 공백채우기

"{0:=^10}".format("hi")

'====hi===='

In [112]:
# 공백채우기

"{0:-^10}".format("hi")

'----hi----'

In [100]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [108]:
# 문자열 포매팅

name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [101]:
name = "홍길동"
age = 30
'나의 이름은 ' + name + '입니다. 난이는 ' + str(age) + '입니다.'

'나의 이름은 홍길동입니다. 난이는 30입니다.'

In [102]:
age = 30
f'나는 내년이면 (age+1)살이 된다.'

'나는 내년이면 (age+1)살이 된다.'

In [105]:
# 문자열 개수 세기(count()) -> 많이 사용

a = 'hobby'
a.count('b')

2

In [106]:
a = 'Python is the best choice'
a.count('t')

3

In [107]:
'Python is the best choice'.count('t')

3

In [113]:
# 문자열에서 해당 텍스트 위치 구하기 -> 많이 사용

a = "Python is the best choice"
a.find('i')

7

In [114]:
a.find('k') # 찾는 문자 없을 경우에 '-1'을 반환

-1

In [115]:
a.find('t')

2

In [116]:
# 문자열 삽입 -> 때때로 사용

",".join("abcd")

'a,b,c,d'

In [117]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [119]:
# a, b, c, d
# 'abcd'

"".join(['a', 'b', 'c', 'd'])

'abcd'

In [120]:
# "a b c d"

" ".join(['a', 'b', 'c', 'd'])

'a b c d'

In [121]:
# 문자를 대문자로 변환

a = 'Python is the best choice'
a.upper()

'PYTHON IS THE BEST CHOICE'

In [122]:
# 문자를 소문자로 변환

a = 'Python is the best choice'
a.lower()

'python is the best choice'

In [123]:
# 왼쪽 공백 지우기(lstrip)

a = '   hi   '
a.lstrip()

'hi   '

In [124]:
# 오른쪽 공백 지우기(rstrip)

a = '   hi   '
a.rstrip()

'   hi'

In [125]:
# 양쪽 공백 지우기(strip)

a = '   hi   '
a.strip()

'hi'

In [126]:
a = 'Python is the best choice'
a.strip()

'Python is the best choice'

In [127]:
# 문자열 바꾸기(replace) -> 많이 사용

a = 'Life is too short'
a.replace("Life", "Your leg")

'Your leg is too short'

In [128]:
a.replace(" ", "")

'Lifeistooshort'

In [130]:
# 문자열 나누기(split) -> 많이 사용

a = 'Life is too short'
a.split()

['Life', 'is', 'too', 'short']