In [1]:
a = [1]
a

[1]

In [3]:
a = (1,)
a

(1,)

In [4]:
# 튜플의 요소도 숫자형, 문자형이 모두 들어갈 수 있다.

a = (1,2,3,4,5,6,7) # 정수형
a

(1, 2, 3, 4, 5, 6, 7)

In [5]:
b = (1.0,2.,3.,4.,5.,) # 실수형
b

(1.0, 2.0, 3.0, 4.0, 5.0)

In [6]:
c = ('a', 'b', 'c') # 문자형
c

('a', 'b', 'c')

In [12]:
e = (1,2,3,[3,4,5])
e

(1, 2, 3, [3, 4, 5])

In [13]:
e[3]

[3, 4, 5]

In [14]:
e[3][0]

3

In [15]:
e[3][0] = 'a' # 리스트라서 가능

In [16]:
e

(1, 2, 3, ['a', 4, 5])

In [21]:
f = (1,2,3,(3,4,5))
f[3][0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [18]:
# 여러 자료형이 혼합되어 생성도 가능하다.

t1 = (0,1,'a','b')
t1

(0, 1, 'a', 'b')

In [19]:
del t1

In [20]:
t1 = (0,1,'a','b')
t1

(0, 1, 'a', 'b')

In [22]:
# 수정이 안 된다
# 특정 요소값 변경 안 됨

t1[0] = 'z'

TypeError: 'tuple' object does not support item assignment

In [23]:
l1 = list(t1)
l1

[0, 1, 'a', 'b']

In [24]:
# 인덱싱

t1 = (1,2,'a','b')

In [25]:
t1[2]

'a'

In [26]:
t1[4]

IndexError: tuple index out of range

In [27]:
# 슬라이싱

t1[1 : ]

(2, 'a', 'b')

In [28]:
t1[ : 2]

(1, 2)

In [29]:
# 튜플 더하기 가능

a = (1,2,3,4,5,6,7)
b = ('a', 's', 'd')

In [30]:
a + b

(1, 2, 3, 4, 5, 6, 7, 'a', 's', 'd')

In [31]:
dic = {'name': 'pey', 'phone' : '0119993323', 'birth' : '1118'}
dic

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [32]:
# 키와 값의 자료형 상관없이 입력이 가능하고,
# 혼용하여 사용 가능
# 값에는 리스트 자료형이 들어갈 수 있지만, 키에는 리스트가 들어갈 수 없다.

a = {1 : "sss"}
a

{1: 'sss'}

In [33]:
a = {"1" : 1}
a

{'1': 1}

In [35]:
a = {'트와이스' : ['나연','쯔위','채영']}
a

{'트와이스': ['나연', '쯔위', '채영']}

In [36]:
a = {['나연', '쯔위', '채영']:'트와이스'}
a

TypeError: unhashable type: 'list'

In [37]:
# 딕셔너리 쌍 추가

dic = {1:'a'}
dic

{1: 'a'}

In [38]:
dic[2] = 'b'
dic

{1: 'a', 2: 'b'}

In [39]:
dic['name'] = '덕표'

In [40]:
dic

{1: 'a', 2: 'b', 'name': '덕표'}

In [41]:
dic['트와이스'] = ['나연', '쯔위', '채영']
dic

{1: 'a', 2: 'b', 'name': '덕표', '트와이스': ['나연', '쯔위', '채영']}

In [42]:
del dic['name']
dic

{1: 'a', 2: 'b', '트와이스': ['나연', '쯔위', '채영']}

In [43]:
# 수정 가능

dic[2] = 'c'

In [44]:
dic

{1: 'a', 2: 'c', '트와이스': ['나연', '쯔위', '채영']}

In [45]:
# 딕셔너리에서 Key를 사용해 Value 얻기

grade = {'pey' : 10, 'julliet' : 99}
grade['pey']

10

In [46]:
a = {1:'a', 2:'b'}
a[1]

'a'

In [47]:
a['2']

KeyError: '2'

In [48]:
# Key가 중복되었을 때 1개를 제외한 나머지
# Key:Value 값이 모두 무시된다

a = {1:'a', 1:'b'}
a

{1: 'b'}

In [49]:
# 딕셔너리 키 확인

a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [50]:
list(a.keys())

['name', 'phone', 'birth']

In [51]:
# Key:Value 쌍 얻기(items)

a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [53]:
# Key:Value 쌍 모두 지우기(clear)

a.clear()
a

{}

In [55]:
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}

In [57]:
a.get('name')

'pey'

In [58]:
a.get('money')

In [59]:
# 디폴트값 반환

a.get('foo','bar')

'bar'

In [60]:
# 키에 대응하는 값을 반환

a.get('name', 'bar')

'pey'

In [61]:
'name' in a

True

In [62]:
'money' in a

False

In [64]:
a = [1,2,3,4,5,5,5,6,7,2,2,3,4,5]
a = set(a)
a

{1, 2, 3, 4, 5, 6, 7}

In [65]:
a[0]

TypeError: 'set' object is not subscriptable

In [67]:
a = list(a)
a

[1, 2, 3, 4, 5, 6, 7]

In [68]:
a[1]

2

In [69]:
tuple(a)

(1, 2, 3, 4, 5, 6, 7)

In [70]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2 # 교집합

{4, 5, 6}

In [71]:
s1 | s2 # 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
s1 - s2 # 차집합

{1, 2, 3}

In [73]:
s1.add(7)
s1

{1, 2, 3, 4, 5, 6, 7}

In [74]:
s1.update([8,9,0])
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [75]:
s1.update([10])
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [76]:
s1.remove(2)
s1

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10}

In [77]:
a = True
b = False

In [78]:
type(a)

bool

In [79]:
a = 1
b = 3

In [80]:
a == b

False

In [81]:
a > b

False

In [82]:
a < b

True

In [83]:
a >= b

False

In [84]:
a <= b

True

In [85]:
a != b

True