In [1]:
money = 5000
if money >= 4000 :
    print("자산이")
    print(money)
    print("원 있습니다.")
print("감사합니다.")

자산이
5000
원 있습니다.
감사합니다.

In [2]:
money = 3000
if money >= 4000 :
    print("자산이")
    print(money)
    print("원 있습니다.")
print("감사합니다.")

감사합니다.

In [3]:
# input()함수와 print()는 반대

input("숫자를 입력해 주세요 :")

숫자를 입력해 주세요 :34

'34'

In [4]:
a = int(input("숫자를 입력해 주세요 : "))
a

숫자를 입력해 주세요 : 34

34

In [5]:
money = int(input("가격을 입력해 주세요 : "))

if money >= 4100 :
    print("아아 톨 사이즈를 구입할 수 있습니다.")

가격을 입력해 주세요 : 4100
아아 톨 사이즈를 구입할 수 있습니다.

In [6]:
money = 500
if money >= 500 :
    print("돈이 500원 이상 있습니다.")
    print("사과를 구입하세요")
    print("아니면 귤?")

돈이 500원 이상 있습니다.
사과를 구입하세요
아니면 귤?

In [7]:
money = 300
if money >= 500 :
    print("자산이 500원보다 크거나 같습니다.")
else :
    print("자산이 500원보다 작습니다.")
print("감사합니다.")

자산이 500원보다 작습니다.
감사합니다.

In [8]:
money = 500
if money >= 500 :
    print("자산이 500원보다 크거나 같습니다.")
else :
    print("자산이 500원보다 작습니다.")
print("감사합니다.")

자산이 500원보다 크거나 같습니다.
감사합니다.

In [9]:
money = int(input("가격을 입력해 주세요 : "))

if money >= 4100 :
    print("아아 톨 사이즈를 구입할 수 있습니다.")
else :
    print("아아 톨사이즈를 구입할 수 없습니다.")

가격을 입력해 주세요 : 4000
아아 톨사이즈를 구입할 수 없습니다.

In [10]:
money = 4000
if money >= 10000 :
    print("나에겐 10000원 이상이 있다.")
elif money >= 9000 :
    print("나에겐 9000원 이상이 있다.")
elif money >= 5000 :
    print("나에겐 5000원 이상이 있다.")
else :
    print("집에 갈 차비에요")

집에 갈 차비에요

In [11]:
money = int(input("가격을 입력해 주세요 : "))

if money >= 4600 :
    print("아아 그란데 사이즈를 구입할 수 있습니다.")
elif money >= 4100 :
    print("아아 톨 사이즈를 구입할 수 있습니다.")
else :
    print("안녕히 가세요.")

가격을 입력해 주세요 : 4600
아아 그란데 사이즈를 구입할 수 있습니다.

In [12]:
i = 1

while i <= 10 :
    print(f'{i}번 출력 되었습니다.')
    i += 1 # i = i + 1

1번 출력 되었습니다.
2번 출력 되었습니다.
3번 출력 되었습니다.
4번 출력 되었습니다.
5번 출력 되었습니다.
6번 출력 되었습니다.
7번 출력 되었습니다.
8번 출력 되었습니다.
9번 출력 되었습니다.
10번 출력 되었습니다.

In [13]:
i = 0
while i <= 10 :
    i += 1
    if i == 7 :
        break
    print(f'{i}번 출력 되었습니다.')

1번 출력 되었습니다.
2번 출력 되었습니다.
3번 출력 되었습니다.
4번 출력 되었습니다.
5번 출력 되었습니다.
6번 출력 되었습니다.

In [14]:
i = 0
while i <= 10 :
    i += 1
    if i % 2 == 1 : # %는 나머지 연산자(나머지만 반환)
        continue
    print(i, "번 출력되었습니다.")

2 번 출력되었습니다.
4 번 출력되었습니다.
6 번 출력되었습니다.
8 번 출력되었습니다.
10 번 출력되었습니다.

In [ ]:
i = 0
while i <= 10 :
    if i % 2 == 1 :
        continue
    i += 1
    print(i, "번 출력되었습니다.")

1 번 출력되었습니다.

In [1]:
stock = 5

while stock > 0 :
    money = int(input("금액을 입력해주세요(단위 : 원) :"))
    if money == 500 :
        print("상품이 나왔습니다.")
        stock = stock - 1
        print(f'재고는 {stock}개 입니다.')
    elif money > 500 :
        print("상품이 나왔습니다.")
        stock = stock - 1
        print(f'재고는 {stock}개 입니다.')
        print(f'거스름돈 {money-500}원을 받아가세요.')
    else :
        print('금액이 부족합니다.')
        continue
        
    if stock == 0 :
        print("재고가 없습니다. 프로그램을 종료합니다.")

금액을 입력해주세요(단위 : 원) :495
금액이 부족합니다.
금액을 입력해주세요(단위 : 원) :3843
상품이 나왔습니다.
재고는 4개 입니다.
거스름돈 3343원을 받아가세요.
금액을 입력해주세요(단위 : 원) :546
상품이 나왔습니다.
재고는 3개 입니다.
거스름돈 46원을 받아가세요.
금액을 입력해주세요(단위 : 원) :656
상품이 나왔습니다.
재고는 2개 입니다.
거스름돈 156원을 받아가세요.
금액을 입력해주세요(단위 : 원) :456
금액이 부족합니다.
금액을 입력해주세요(단위 : 원) :765
상품이 나왔습니다.
재고는 1개 입니다.
거스름돈 265원을 받아가세요.
금액을 입력해주세요(단위 : 원) :864
상품이 나왔습니다.
재고는 0개 입니다.
거스름돈 364원을 받아가세요.
재고가 없습니다. 프로그램을 종료합니다.

In [2]:
# 1부터 1000 사이의 수의 3의 배수의 합ㅡㄹ 구하기
# 결과 166833
# 3의 배수란 3과 나누었을 때 나머지가 0

result = 0
i = 1
while i <= 1000 :
    if i % 3 == 0 :
        result = result + i
    i = i + 1
print(result)

166833

In [3]:
# for 변수 in 순서형 자료 :
#    문장

lst = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
for i in lst :
    print(i, '를 출력') # i는 lst[i]

a 를 출력
b 를 출력
c 를 출력
d 를 출력
e 를 출력
f 를 출력
g 를 출력

In [4]:
lst = [1,2,3,4,5,6,7,8,9,10]

for i in lst :
    if i % 2 == 1 :
        continue # 다시 for문으로 돌아감
    if i == 6 : # elif 가능, 하지만 6 대신 5일 경우에는 다른 결과가 도출될 수 있음
        break
    print(i, '번 출력 되었습니다.')

2 번 출력 되었습니다.
4 번 출력 되었습니다.

In [5]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
lst = [1,2,3,4,5,6,7,8,9,10]
i = 0
while i < len(lst) :
    print(lst[i])
    i += 1

1
2
3
4
5
6
7
8
9
10

In [7]:
a = [(1,2), (3,4), (5,6)]
print(a)

[(1, 2), (3, 4), (5, 6)]

In [8]:
for (first, last) in a :
    print(first + last)

3
7
11

In [9]:
for (first, last) in a :
    print("first = ", first)
    print("last = ", last)
    print('\n')

first =  1
last =  2


first =  3
last =  4


first =  5
last =  6

In [10]:
for (i, j) in a :
    print(i + j) # 변수명이 바뀌어도 됨

3
7
11

In [11]:
# range(시작값(0일경우 생략가능), 끝값, 간격(1일경우 생략가능))

for i in range(10) : # for i in range(0, 10, 1) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1, 10) :
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:
b = range(0, 11, 1)
b

range(0, 11)

In [14]:
b = list(range(0, 11, 1))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# 0부터 10 전까지 2씩 증가

for i in range(0, 10, 2) :
    print(i)

0
2
4
6
8

In [16]:
# 학급의 평균점수 for문 이용

A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [18]:
score_A = 0
A = [70, 60, 55, 75, 95, 90, 80, 85, 100]

for i in A :
    score_A = score_A + i
print(score_A / len(A))

78.88888888888889

In [19]:
sum(A) / len(A)

78.88888888888889

In [20]:
for i in range(0, 10, 2) :
    print(i, end=" ")

0 2 4 6 8

In [21]:
# end옵션이 생략되면 디폴트 값은 \n이다.

for i in range(0, 10, 2) :
    print(i)

0
2
4
6
8

In [25]:
for i in range(1, 10) :
    for j in range(10) :
        h = i * j
        
        print(i, "*", j, "=", h)

1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [26]:
for i in range(2, 10, 1) :
    for j in range(1, 10, 1) :
        print(i, "*", j, " = ", i * j)

2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
3 * 1  =  3
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
3 * 5  =  15
3 * 6  =  18
3 * 7  =  21
3 * 8  =  24
3 * 9  =  27
4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16
4 * 5  =  20
4 * 6  =  24
4 * 7  =  28
4 * 8  =  32
4 * 9  =  36
5 * 1  =  5
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
6 * 1  =  6
6 * 2  =  12
6 * 3  =  18
6 * 4  =  24
6 * 5  =  30
6 * 6  =  36
6 * 7  =  42
6 * 8  =  48
6 * 9  =  54
7 * 1  =  7
7 * 2  =  14
7 * 3  =  21
7 * 4  =  28
7 * 5  =  35
7 * 6  =  42
7 * 7  =  49
7 * 8  =  56
7 * 9  =  63
8 * 1  =  8
8 * 2  =  16
8 * 3  =  24
8 * 4  =  32
8 * 5  =  40
8 * 6  =  48
8 * 7  =  56
8 * 8  =  64
8 * 9  =  72
9 * 1  =  9
9 * 2  =  18
9 * 3  =  27
9 * 4  =  36
9 * 5  =  45
9 * 6  =  54
9 * 7  =  63
9 * 8  =  72
9 * 9  =  81